 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1089px;
}

.u-section-1 .u-group-elements-1 {
  width: 1320px;
  min-height: 277px;
  margin: 13px auto 0 -43px;
}

.u-section-1 .u-shape-1 {
  width: 125px;
  height: 125px;
  margin: 1px auto 0 182px;
}

.u-section-1 .u-shape-2 {
  width: 125px;
  height: 125px;
  margin: -125px auto 0 0;
}

.u-section-1 .u-shape-3 {
  width: 125px;
  height: 125px;
  margin: -126px auto 0 547px;
}

.u-section-1 .u-shape-4 {
  width: 125px;
  height: 125px;
  margin: -124px auto 0 365px;
}

.u-section-1 .u-shape-5 {
  width: 125px;
  height: 125px;
  margin: -125px 284px 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 125px;
  height: 125px;
  margin: -126px 466px 0 auto;
}

.u-section-1 .u-shape-7 {
  width: 126px;
  height: 126px;
  margin: -125px 102px 0 auto;
}

.u-section-1 .u-shape-8 {
  width: 126px;
  height: 126px;
  margin: -126px -81px 0 auto;
}

.u-section-1 .u-shape-9 {
  width: 125px;
  height: 125px;
  margin: 43px auto 0 184px;
}

.u-section-1 .u-shape-10 {
  width: 125px;
  height: 125px;
  margin: -125px auto 0 2px;
}

.u-section-1 .u-shape-11 {
  width: 125px;
  height: 125px;
  margin: -126px auto 0 549px;
}

.u-section-1 .u-shape-12 {
  width: 125px;
  height: 125px;
  margin: -124px auto 0 367px;
}

.u-section-1 .u-shape-13 {
  width: 125px;
  height: 125px;
  margin: -125px 282px 0 auto;
}

.u-section-1 .u-shape-14 {
  width: 125px;
  height: 125px;
  margin: -126px 464px 0 auto;
}

.u-section-1 .u-shape-15 {
  width: 126px;
  height: 126px;
  margin: -125px 100px 0 auto;
}

.u-section-1 .u-shape-16 {
  width: 126px;
  height: 126px;
  margin: -126px -83px 0 auto;
}

.u-section-1 .u-text-1 {
  width: 548px;
  margin: 57px auto 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 408px;
  height: auto;
  width: 839px;
  margin: 103px auto 60px 241px;
}

.u-section-1 .u-tab-list-1 {
  background-image: none;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  margin: 40px auto 0 0;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-5 {
  line-height: 1.8;
  text-transform: uppercase;
  margin: 40px 0 0;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  margin: 40px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-elements-1 {
    width: 1223px;
    min-height: 294px;
    height: auto;
    margin-top: 14px;
    margin-left: -42px;
    margin-right: -42px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: 368px;
  }

  .u-section-1 .u-shape-6 {
    margin-right: 550px;
  }

  .u-section-1 .u-shape-7 {
    margin-right: 185px;
  }

  .u-section-1 .u-shape-8 {
    margin-right: 2px;
  }

  .u-section-1 .u-shape-13 {
    margin-right: 366px;
  }

  .u-section-1 .u-shape-14 {
    margin-right: 548px;
  }

  .u-section-1 .u-shape-15 {
    margin-right: 183px;
  }

  .u-section-1 .u-shape-16 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: 391px;
    margin-top: 77px;
  }

  .u-section-1 .u-tabs-1 {
    margin-top: 82px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-1 .u-tabs-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-tabs-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 145px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 38px auto 0;
}

.u-section-2 .u-line-1 {
  width: 129px;
  margin: 14px auto 36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-line-1 {
    width: 110px;
    height: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 119px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 323px;
  }

  .u-section-2 .u-line-1 {
    width: 86px;
    margin-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-line-1 {
    width: 78px;
  }
}