 .u-section-1 {
  background-image: url("images/279866770_770926390561195_8533517613442247256_n.jpg");
  background-position: 50% 35.59%;
}

.u-section-1 .u-sheet-1 {
  min-height: 416px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 419px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 285px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1135px;
}

.u-section-2 .u-text-1 {
  width: 348px;
  margin: 115px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 112px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 414px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-group-1 {
  width: 381px;
  min-height: 227px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  background-image: url("images/279866770_770926390561195_8533517613442247256_n.jpg");
  padding: 30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 112px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 414px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 24px;
}

.u-section-2 .u-group-2 {
  width: 392px;
  min-height: 227px;
  height: auto;
  margin: 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/blueskies.jpg");
  padding: 30px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 112px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 414px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-group-3 {
  width: 371px;
  min-height: 227px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-3 {
  background-image: url("images/images1.jfif");
  padding: 30px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 13px;
  margin-bottom: 43px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 414px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 29px;
}

.u-section-2 .u-group-4 {
  width: 381px;
  min-height: 227px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-image-4 {
  background-image: url("images/DWuqIGQX0AENm62.jpg");
  background-position: 50% 50%;
  padding: 30px;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 414px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 24px;
}

.u-section-2 .u-group-5 {
  width: 392px;
  min-height: 227px;
  height: auto;
  margin: 0;
}

.u-section-2 .u-image-5 {
  background-image: url("images/14595692.jpg");
  background-position: 50% 50%;
  padding: 30px;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 414px;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px;
}

.u-section-2 .u-group-6 {
  width: 371px;
  min-height: 227px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-6 {
  background-image: url("images/98617434.295.jpg");
  background-position: 50% 50%;
  padding: 30px;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-2 .u-text-1 {
    width: 265px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-2 .u-group-1 {
    width: 322px;
    height: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-2 .u-group-2 {
    width: 332px;
    height: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 358px;
  }

  .u-section-2 .u-group-3 {
    width: 320px;
    height: auto;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 358px;
  }

  .u-section-2 .u-group-4 {
    margin-top: -227px;
    margin-left: 60px;
    height: auto;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 358px;
  }

  .u-section-2 .u-group-5 {
    margin-top: -227px;
    margin-right: 459px;
    height: auto;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 358px;
  }

  .u-section-2 .u-group-6 {
    margin-right: 60px;
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-2 .u-group-1 {
    width: 255px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-2 .u-group-2 {
    width: 265px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 295px;
  }

  .u-section-2 .u-group-3 {
    width: 253px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 295px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 295px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 182px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-2 {
    width: 192px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-group-3 {
    width: 180px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-group-4 {
    margin-top: -232px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-group-5 {
    margin-top: 27px;
    margin-right: 328px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1517px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-5 {
    margin-right: 148px;
  }

  .u-section-2 .u-image-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-2 .u-group-4 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-2 .u-group-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-group-6 {
    width: 340px;
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 145px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 38px auto 0;
}

.u-section-3 .u-line-1 {
  width: 129px;
  margin: 14px auto 36px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-line-1 {
    width: 110px;
    height: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 119px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 323px;
  }

  .u-section-3 .u-line-1 {
    width: 86px;
    margin-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-line-1 {
    width: 78px;
  }
}